/*css resets*/
body {
    padding: 0;
    margin: 0;
    background-color: #f9fafa;
    font-family: 'Lato', sans-serif;
}
p, span, pre {
    font-weight: 300;
    font-size: 1.1em;
    color: #a2929f;
}
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
#background span {
    display: block;
    position: absolute;

}
#background span:nth-child(1){
    height: 30%;
    width: 40%;
    right: -4%;
    top: -27%;
    transform: rotate(10deg);
    background-color: #886677;
}
#background span:nth-child(2){
    height: 30%;
    width: 40%;
    top: -20%;
    left: -2%;
    transform: rotate(-13deg);
    background-color: #bb5599;
}
#background span:nth-child(3){
    height: 30%;
    width: 40%;
    bottom: 10%;
    left: -24%;
    background-color: #ccaabb;
    transform: rotate(9deg);
}
#background span:nth-child(4){
    transform: rotate(-13deg);
    bottom: 0;
    right: -20%;
    height: 30%;
    width: 40%;
    background-color: #ffccdd;
}
header {
    text-align:center;
    position:relative;
}
header h1 {
    margin-top: 0;
    text-transform: uppercase;
    color: #6b325d;
    margin-bottom: 3px;
    padding-top: 18%;
}
header address {
    font-style: normal;
    color: #a2929f;
}
header ul {
    padding: 20% 0%;
    margin: 0;
}
header ul li {
    list-style: none;
    text-align:center;
    font-size: 1.4rem;
}
header ul li.fullstack {
    color: #ffb937;
}
header ul li.graphic {
    color: #e2477e;
}
header ul li.music {
    color: #00ac92;
}
section.projects {
    border-top: 6px solid #d7d0c6;
}
section.projects h2 {
    color: #ccaabb;
    text-align: left;
}
section.projects header {
    padding: 1px 20px;
}
section.project {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1px 20px;
    width: 100%;
}
section.project.colorA {
    background: linear-gradient(to bottom, rgba(159,142,156,.3), rgba(159,142,156, .1));
}
section.project.colorB {
    background: linear-gradient(to bottom, rgba(215,208,198,.3), rgba(215,208,198,.1));
}
section.project.colorC {
    background: linear-gradient(to bottom, rgba(171,196,193,.3), rgba(171,196,193,.1));
}
section.project.colorD {
    background: linear-gradient(to bottom, rgba(170,171,165,.3), rgba(170,171,165,.1));
}
section.project.colorE {
    background: linear-gradient(to bottom, rgba(88,45,73,.3), rgba(88,45,73,.1));
}
section h3 {
    font-size: 1.3em;
    font-weight: 600;
    background: -webkit-linear-gradient(#ed6b96, #bf2e80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section ul {
    margin: 0;
    padding: 0;
}
section ul li {
    color: #b5a58f;
    list-style: none;

}
section ul li > ul li {
    border: 1px solid #d7d0c6;
    background-color: #f3f1ea;
    display: inline-block;
    padding: 3px;
    font-weight: 300;
}

section img {
    display: block;
    width: 90%;
    margin: 55px auto 50px auto;
    box-shadow: 0px 5px 30px #a9a9a9;
    
}
.techstack {
    margin-bottom: 20px;
    background: rgba(0,0,40,.03);
    padding: 11px;
    border-radius: 5px;
}
.techstack ul{
    margin-top: 5px;
}
.links {
    text-align: center;
}
.links li {
    display: inline-block;
    margin-left: 15px;
}
.links li:first-child {
    margin-left: 0px;
}
.buttonLink {
    display: inline-block;
    border-radius: 3px;
    background-color: #b5a58f;
    color:#fff;
    text-decoration: none;
    line-height: 2em;
    padding: 0px 15px;
    text-shadow: 1px 1px rgba(0,0,40,0.1);
    box-shadow: 0px 4px 5px rgba(0,0,40,0.1);
}
.buttonLink:hover {
    position: relative;
    bottom:1px;
    box-shadow: 0px 5px 5px rgba(192,192,192,0.7);
}
section.connection {
    border-top: 6px solid #d7d0c6;
    text-align: center;
    padding-bottom: 10%;
}
section.connection h2 {
    color: #ffb937;
}
@media (min-width: 700px) {
    section.projects {
        display:flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    section.project {
        width: 50%;
    }
    .links li {
        margin-left: 10%;
    }
}

@media (min-width: 950px) {
    section.projects { 
        padding: 0 15%;
    }
    section.project {
        width: 33%;
    }
    .links li {
        margin-left: 4%;
    }
    section.projects header {
    padding: 1px 3px;
    }
    section.projects header p {
        text-align:left;
    }
}